body {
    font-family: 'Segoe', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b6b6b6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.products-container {
    background-color: #555555;
    border: 1px solid #ffffff;
    padding: 20px;
    width: 900px;
    text-align: left;
}

h1, h3 {
    color: #ffffff;
}

ul.product-list {
    list-style-type: none;
    padding: 0;
}

li.product-item {
    background-color: #2e2e2e;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ffffff;
}

.product-title {
    font-weight: bold;
    font-size: 18px;
}

.product-description, .product-price, .product-stock, .product-category {
    margin: 5px 0;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn, .submit-btn, .delete-product {
    font-family: 'Segoe', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #555555;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    font-weight: 600;
    margin-top: 10px;
    font-size: 14px;
    transition: background-color 0.35s, color 0.35s;
    cursor: pointer;
    width: 140px;
    height: 40px;
    line-height: 10px;
    box-sizing: border-box;
}

.btn:hover, .submit-btn:hover, .delete-product:hover {
    background-color: #ffffff;
    color: #1e1e1e;
}

.btn:active, .submit-btn:active, .delete-product:active {
    background-color: #cccccc;
    color: #1e1e1e;
}

/* Ensuring buttons and links have the same appearance */
.btn-container a, .btn-container button {
    height: 40px; /* Same fixed height */
    line-height: 18px; /* Same line-height for vertical alignment */
    display: flex;
    justify-content: center;
    align-items: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

form input, form button, a {
    width: 40px;
    padding: 10px;
    margin-bottom: 15px;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-item {
    margin: 0 10px;
}

.pagination-link {
    color: #ffffff;
    background-color: #555555;
    padding: 10px;
    border: 2px solid #ffffff;
    text-decoration: none;
    transition: background-color 0.35s, color 0.35s;
}

.pagination-link:hover {
    background-color: #ffffff;
    color: #1e1e1e;
}

.pagination-link:active {
    background-color: #cccccc;
    color: #1e1e1e;
}
