body {
    font-family: 'Montserrat', sans-serif;
    background-color: #b6b6b6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #555555;
    border: 1px solid #ffffff;
    padding: 20px;
    width: 300px;
    text-align: center;
    align-items: center;
}

.submit-btn {
    display: block;
    color: #ffffff;
    background-color: #555555;
    text-decoration: none;
    width: 264px;
    padding: 10px;
    border: 2px solid #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    transition: background-color 0.35s, color 0.35s;
}

.submit-btn:hover {
    background-color: #ffffff;
    color: #1e1e1e;
}

.submit-btn:active {
    background-color: #cccccc;
    color: #1e1e1e;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

form input, form button {
    width: 240px;
    padding: 10px;
    margin-bottom: 15px;
}

form button {
    cursor: pointer;
}
