body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    max-width: 900px;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

li {
    border-radius: 8px;
    border: solid 2px rgb(83, 78, 78);
    padding: 20px;
    margin-top: 10px;
}

.container {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: solid 2px black;
}

h3 {
    margin: 40px;
    color: #555;
    margin-bottom: 20px;
}

.back-to-products {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.5em;
    color: #fff;
    background-color: #0c8029;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.back-to-products:hover {
    background-color: #258512;
}

.ticket-actions {
    width: 100%;
    margin-left: -95px;
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}