<div>
    <h2>Chat log</h2>
    <h2>Hola, {{username}}</h2>

    <div>
        <input type="text" id="chatBox">
        <button id="sendButton">Enviar</button>
    </div>

    <div>
        <p id="messageLogs"></p>
    </div>
</div>