<h2>Registro de usuario</h2>

<form action="/api/users" method="post">
    <label for="num">Ingrese sus datos:</label>

    <label for="firstname">Nombre:</label>
    <input type="text" name="firstname" id="nombre">

    <label for="lastname">Apellido:</label>
    <input type="text" name="lastname" id="apellido">

    <label for="age">Edad:</label>
    <input type="number" name="age" id="age">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit" id="btn">Registrar</button>
</form>