<div class="form-container">
    <form action="/api/sessions/request_password_reset" method="post" enctype="application/x-www-form-urlencoded">
        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email">
        <button class="submit-btn" type="submit">Reset password</button>
    </form>
</div>