<div class="form-container">
    <form action="/api/sessions/reset_password" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="token" value="{{token}}">
        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email">

        <label for="_pass">New Password:</label>
        <input type="password" name="password" id="_pass">

        <button class="submit-btn" type="submit">Reset password</button>
    </form>
</div>